html, body {
    height: 100%;
}

body {
    font-family: 'Helvetica', Arial, sans-serif;
    margin: 0;
    padding: 60px;
    background-image: url("https://raw.githubusercontent.com/imcoolfer-tech/aboutme/main/download%20(11).jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: #ffffff; /* ubah teks jadi putih */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    z-index: -1;
}

.container {
    display: flex;
    gap: 40px;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    min-height: 100vh; /* supaya background penuh */
}

.text-section {
    flex: 1;
}

.title {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
}

.desc {
    line-height: 1.6;
    margin-bottom: 20px;
}

.facts {
    margin-top: 40px;
    display: flex;
    gap: 60px;
}

.fact {
    width: 180px;
    text-align: center;
    font-size: 14px;
}

.fact img {
    width: 40px;
    margin-bottom: 10px;
}

.photo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.photo img {
    width: 70%;
    max-width: 300px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
